@import url('../font.css');
@import url('../headerFoter.css');
*{
    margin: 0;
    padding: 0;
}

main > div{
    display: flex;
    justify-content: center;
    max-width: 80vw;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 30px;
    margin-bottom: 61px;
}
main > div > img{
    display: flex;
    width: 300px;
    height: 300px;
}